#index{
   padding: 0;
   margin: 0;
   overflow-y: scroll;
   font-family: 'Roboto', sans-serif;
   background-color:#DEE5E5;
   background-image: url("images/background.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;
}

#pages{
  font-family: 'Roboto', sans-serif;
  background-color:#ffffff;
  overflow:auto;
   height: auto;
}

#menu{
  background-color: #040E3C;
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
}

#logo{
	width: 180px;
  padding: 5px 10px 10px 20px;
  margin: 0px;
  position: absolute;
  z-index: 5;
}

#ScheduleBtn {
  padding: 0px 30px 10px 0px;
  margin: 0px 0px 0px 0px;
  position:sticky;
  float: right;

}

#schedule{
  width: 75%;
  height: 75%;
  margin: 10px auto;
  padding-top: 0px;
}

#message{
  padding: 40px 5px 0px 40px;
  font-size: 18px;
  margin-bottom: 20px;
}

#header{
  margin: 0px;
  top: 0px;
}


#stripe{
  display: block;
  position: absolute;
  width: 100%;
  border-top :10px solid #AA1010;
  z-index: 7;
  margin: 0;
  padding: 0;
  top: 5;
}

#bread{
  background-color: #AA1010;
  border-radius: 0px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px;
}
#active{
  text-decoration: underline;
}



#cont{
  padding-top: 5%;
  padding-left: 8%;
  vertical-align: middle;
  float: inherit;
}

#OffersDisc{
  padding-top: 2%;
  padding-left: 20%;
  vertical-align: middle;
  float: inherit;
}

.thumbnail{
  background: none;
  border: none;
  margin: 0px;
  width: 180px;
  vertical-align: bottom;
  padding: 0;
}

#subDesc{
   text-align:center;
}

#contSub{
  text-align:center;
  align: center;
  margin-left: 40px;
  padding: 0px;
}

#subThumb{
  border: 2px solid #DEE5E5;
  border-radius: 15px;
  width: 200px;
  margin: 0px 0px 0px 0px;
}


#desc{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #32539C;
    margin: 0px;
}

#foot{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #7D92A3;
  color: #040E3C;
  text-decoration: none;
  text-align: center;
  padding: 10px 0px 1px 0px;
  font-size: 12pt;
  height: 40px;
}

#footpage{
  display: block;
  position:fixed;
  width: 100%;
  bottom: 0px;
  background-color: #7D92A3;
  color: #040E3C;
  text-decoration: none;
  text-align: center;
  padding: 10px 0px 1px 0px;
  font-size: 12pt;
  height: 40px;
  margin-top: 20px;
}

#social{
  width: 10px;
  float: right;
  width: 20px;
  margin-right: 10px;
}
